.catalogItemContainer {
  background-color: darkslategrey;
  width: 150px;
  height: 150px;
}

.catalogItemCpntainer:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.catalogItem {
  margin: 0 auto;
}
