<div class="itemDetailContainer">
  <p>item-details works!</p>
  <img class="ItemImage" src="https://via.placeholder.com/180" alt="item" />
  <div class="itemDescription">
    <h2>item name</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque molestiae
      et vel consequatur ratione voluptates deserunt magni, distinctio, esse
      possimus officiis corrupti eveniet dolorem sequi natus ipsa inventore
      labore amet?
    </p>
    <app-item-details-actions></app-item-details-actions>
  </div>
</div>
