.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #84fbff;
}

.headerLogo {
  width: 80px;
  margin-left: 30px;
}
.headerImage {
  width: 100%;
  margin: 0 auto;
}

.navList {
  display: flex;
}

.navItem {
  padding: 10px;
}
.navItem:hover {
  color: darkcyan;
}
.navItem:active {
  color: darkorange;
}
