.headerContainer {
  border: 1px dashed salmon;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: lightgoldenrodyellow;
}

.headerLogo {
  background-color: aquamarine;
  width: 100px;
  height: 50px;
}

.navList {
  display: flex;
}

.navItem {
  padding: 10px;
}
.navItem:hover {
  color: darkcyan;
}
.navItem:active {
  color: darkorange;
}
