<header class="headerContainer">
  <div class="headerLogo">
    <a href="#" alt="go to home">
      <img
        class="headerImage"
        src="https://image.freepik.com/vector-gratis/rey-virus-holding-espadas-ilustracion-personaje-dibujos-animados-corona-mascota-concepto-virus-aislado_138676-860.jpg"
        alt="logo"
      />
    </a>
  </div>
  <nav>
    <ul class="navList">
      <li class="navItem" routerLinkActive="active">
        <a alt="catalog" routerLink="/catalog">Catalog</a>
      </li>
      <li class="navItem" routerLinkActive="active">
        <a alt="cart" routerLink="/cart">Cart</a>
      </li>
    </ul>
  </nav>
</header>
